.body{
    font-family: Arial, Helvetica, sans-serif;
}

.title{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    top: 8%;
    left: 46.5%;
    font-size: 40PX;
    color: #FFFFFF;
}

#page {
    position: absolute;
    top: 0%;
    left: 0%;
    display: grid;
    width: 92%;
    height: 92%;
    grid-template-areas:
        "head head"
        "main main"
        "foot foot";
    grid-template-rows: 90px 839px 50px;
    grid-template-columns: 261px 93.8%;
    background-color: #292929;
}

#page>header {
    grid-area: head;
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}


#page>main {
    grid-area: main;
    background-color:#292929;
    left: 0%;
}

#page>footer {
    grid-area: foot;
    background-color: #292929;
    font-family: Arial, Helvetica, sans-serif;
}

.semsungpng{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#divBusca{
    position: absolute;
    left: 37.5%;
    top: 3.2%;
    background-color:whitesmoke;
    border:solid 1px;
    border-radius:15px;
    width: 500px;
    outline: none;
  }
  
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border: unset;
    height:32px;
    width:100%;
    outline: none;
  }

  #btnBusca{
      position: absolute;
      width: 22px;
      height: 22px;
      left: 64.3%;
      top: 4%;
  }
  

.BotaoCadastro{
    position: absolute;
    top: 5%;
    left: 90%;
    transform: translate(-50%, -50%);
    background: transparent;
    border: none !important;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    color: #c63e23;

}
.BotaoCadastro:hover{
    position: absolute;
    top: 5%;
    left: 90%;
    transform: translate(-50%, -50%);
    background: transparent;
    border-radius: 20px;
    background-color: #c63e23;
    color: whitesmoke;
}

.BotaoCarrinho{
    position: absolute;
    top: 5%;
    left: 100%;
    transform: translate(-50%, -50%);
    background: transparent;
    border: none !important;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;

}
.BotaoCarrinho:hover{
    position: absolute;
    top: 5%;
    left: 100%;
    transform: translate(-50%, -50%);
    background: transparent;
    border-radius: 20px;
    background-color: black;
    color: whitesmoke;
}

.carrinho{
    position: absolute;
    top: 4%;
    left: 97%;
}

.profile{
    position: absolute;
    top: 4.1%;
    left: 86.2%;
}

#Email{
    position: absolute;
    top: 35%;
    left: 37.5%;
    width: 500px;
    height: 33px;
    background-color:whitesmoke;
    border:solid 1px;
    border-radius:15px;
    width: 500px;
    outline: none;
}

#Senha{
    position: absolute;
    top: 42%;
    left: 37.5%;
    width: 500px;
    height: 33px;
    background-color:whitesmoke;
    border:solid 1px;
    border-radius:15px;
    width: 500px;
    outline: none;
}

.botoes{
    font-family: 'Arial', Helvetica, sans-serif;
    position: absolute;
    left: 47.5%;
    top: 62%;
}

.botaocadastrese{
    font-family: 'Arial', Helvetica, sans-serif;
    text-decoration: none;
    font-weight: 800;
    color: black;
    cursor: pointer;
    
}

.entrar{
    position: absolute;
    color: whitesmoke;
    background-color: #c63e23;
    border-radius: 15px;
    height: 33px;
    width: 500px;
    top: 49%;
    left: 37.5%;
    border: none;
    cursor: pointer;
    font-weight: 650;
    font-size: 17px;
}
.termos{
    position: absolute;
    left: 20%;
    top: 103%;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    cursor: pointer;
}
.ptbr{
    position: absolute;
    top: 101%;
    left: 10%;
    font-weight: normal;
    font-size: 20px;
}
.divisao{
    position: absolute;
    width: 0.02cm;
    height: 40px;
    background-color: rgb(158, 156, 156);
    top: 103%;
    left: 17%;
}
.esqueceu{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #c63e23;
    border: none;
    background-color: #292929;
    left: 46.6%;
    top: 55%;
    cursor: pointer;
}